main {
  min-width: 200px;

  fieldset {
    max-height: 200px;
    overflow: auto;
    margin-bottom: 1rem;

    .checkbox {
      display: flex;
      align-items: center;
    }
  }

  button {
    display: block;
    margin: 0 auto;
  }
}
