main {
  min-width: 200px;

  fieldset {
    margin-bottom: 1rem;

    #local-storage-keys {
      max-height: 100px;
      overflow: auto;

      .checkbox {
        display: flex;
        align-items: center;
      }
    }
  }

  button {
    display: block;
    margin: 0 auto;
  }
}
