main {
  min-width: 200px;

  fieldset {
    .keys {
      max-height: 100px;
      overflow-y: auto;

      .checkbox {
        display: flex;
        align-items: center;

        label {
          max-width: 200px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  button {
    display: block;
  }
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-auto {
  margin-left: auto;
}
