<main>
  <h1>Copy Local storage</h1>

  <p>Source tab:</p>
  <select
    #HTMLsourceTab
  (change)="setSourceTab(HTMLsourceTab.value)" >
    <option disabled selected>none</option>
    <option *ngFor="let tab of tabs; let i = index" [value]="i">
      {{ tab.name | substring}}
    </option>
  </select>

  <div *ngIf="sourceTab" class="">
    <p>Select the keys to copy</p>
    <div *ngFor="let storage of sourceTabStorage" class="">
      <p>{{ storage.key }}</p>
    </div>
  </div>

  <p>Target tab:</p>
  <select
    #HTMLtargetTab
  (change)="setTargetTab(HTMLtargetTab.value)" >
    <option disabled selected>none</option>
    <option *ngFor="let tab of tabs; let i = index" [value]="i">
      {{ tab.name | substring}}
    </option>
  </select>

  <button (click)="sync()">Sync</button>
</main>