<main>
  <h1>Transfer Local storage</h1>

  <fieldset>
    <label for="sourceTab">Source tab:</label>
    <select
      #HTMLsourceTab
      id="sourceTab"
      (change)="setSourceTab(HTMLsourceTab.value)"
    >
      <option disabled selected>none</option>
      <option *ngFor="let tab of tabs; let i = index" [value]="i">
        {{ tab.name | substring }}
      </option>
    </select>
  </fieldset>

  <fieldset *ngIf="sourceTab">
    <legend>Target keys:</legend>
    <div *ngFor="let item of sourceTabStorage" class="checkbox">
      <input
        type="checkbox"
        [id]="item.key"
        [name]="item.key"
        (change)="setTargetStorage(item)"
      />
      <label [for]="item.key">{{ item.key }}</label>
    </div>
  </fieldset>

  <fieldset>
    <label for="targetTab">Target tab:</label>
    <select
      id="targetTab"
      #HTMLtargetTab
      (change)="setTargetTab(HTMLtargetTab.value)"
    >
      <option disabled selected>none</option>
      <option *ngFor="let tab of tabs; let i = index" [value]="i">
        {{ tab.name | substring }}
      </option>
    </select>
  </fieldset>

  <button (click)="sync()">Sync</button>
</main>
